body {
  min-width: 300px;
  padding: 20px;
}

#input {
  width: 195px;
  margin-left: 30px;
}

.toggle {
  cursor: pointer;
}

.star:after {
  font-size: 14px;
  content: '\2605';
}

/* hiding is on */
.on.star:after {
  content: '\2606';
}

.fork:after {
  font-size: 22px;
  content: '\2ADD';
}

/* hiding is on */
.on.fork:after {
  content: '\2ADC';
}

.delete:after {
  cursor: pointer;
  font-size: 11px;
  content: '\274C';
}
