body {
  padding: 20px;
}

.toggle {
  cursor: pointer;
}

.star:after {
  font-size: 14px;
  content: '\2605';
}

/* hiding is on */
.on.star:after {
  content: '\2606';
}

.fork:after {
  font-size: 22px;
  content: '\2ADC';
}

/* hiding is on */
.on.fork:after {
  content: '\2ADD';
}
